## Setup

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import ipywidgets as widgets
from ipywidgets import interact, fixed

plt.rcParams["figure.figsize"] = (14, 4)
pd.options.display.max_columns = 500

## Load

In [2]:
daily_train = pd.read_parquet("../data/processed/daily-train-base.parquet")
daily_train

            id                  ds     t        y category
0            1 1994-03-01 12:00:00     1   1017.1    Macro
4227         1 1994-03-02 12:00:00     2   1019.3    Macro
8454         1 1994-03-03 12:00:00     3   1017.0    Macro
12681        1 1994-03-04 12:00:00     4   1019.2    Macro
16908        1 1994-03-05 12:00:00     5   1018.7    Macro
...        ...                 ...   ...      ...      ...
18750971  4227 2012-04-22 12:00:00  4436  15111.5    Other
18755198  4227 2012-04-23 12:00:00  4437  15154.0    Other
18759425  4227 2012-04-24 12:00:00  4438  15208.6    Other
18763652  4227 2012-04-25 12:00:00  4439  15108.0    Other
18767879  4227 2012-04-26 12:00:00  4440  15169.9    Other

[9964658 rows x 5 columns]

In [3]:
@interact(df=fixed(daily_train), key=widgets.Dropdown(options=list(daily_train.id.unique())))
def plot_ts(df, key):
    fig = px.line(df.loc[df.id == key, ["ds", "y"]].set_index("ds"))
    return fig

interactive(children=(Dropdown(description='key', options=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, …