## Setup

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import ipywidgets as widgets
from ipywidgets import interact, fixed

plt.rcParams["figure.figsize"] = (14, 4)
pd.options.display.max_columns = 500

## Load

In [6]:
daily_train = pd.read_csv("../data/processed/daily-train-base.csv", parse_dates=["ds"])
daily_train

           id                  ds     t        y category
0           1 1994-03-01 12:00:00     1   1017.1    Macro
1           1 1994-03-02 12:00:00     2   1019.3    Macro
2           1 1994-03-03 12:00:00     3   1017.0    Macro
3           1 1994-03-04 12:00:00     4   1019.2    Macro
4           1 1994-03-05 12:00:00     5   1018.7    Macro
...       ...                 ...   ...      ...      ...
9964653  4227 2012-04-22 12:00:00  4436  15111.5    Other
9964654  4227 2012-04-23 12:00:00  4437  15154.0    Other
9964655  4227 2012-04-24 12:00:00  4438  15208.6    Other
9964656  4227 2012-04-25 12:00:00  4439  15108.0    Other
9964657  4227 2012-04-26 12:00:00  4440  15169.9    Other

[9964658 rows x 5 columns]

In [7]:
@interact(df=fixed(daily_train), key=widgets.Dropdown(options=list(daily_train.id.unique())))
def plot_ts(df, key):
    fig = px.line(df.loc[df.id == key, ["ds", "y"]].set_index("ds"))
    return fig

interactive(children=(Dropdown(description='key', options=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, …

In [14]:
ys = daily_train[daily_train.category == "Macro"].copy()
ys_id = list(ys.id.unique())
interact(plot_ts, df=fixed(ys), key=widgets.Dropdown(options=ys_id))

interactive(children=(Dropdown(description='key', options=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, …

In [13]:
ys = daily_train[daily_train.category == "Micro"].copy()
ys_id = list(ys.id.unique())
interact(plot_ts, df=fixed(ys), key=widgets.Dropdown(options=ys_id))

interactive(children=(Dropdown(description='key', options=(128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 1…

In [15]:
ys = daily_train[daily_train.category == "Demographic"].copy()
ys_id = list(ys.id.unique())
interact(plot_ts, df=fixed(ys), key=widgets.Dropdown(options=ys_id))

interactive(children=(Dropdown(description='key', options=(1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 161…

In [16]:
ys = daily_train[daily_train.category == "Industry"].copy()
ys_id = list(ys.id.unique())
interact(plot_ts, df=fixed(ys), key=widgets.Dropdown(options=ys_id))

interactive(children=(Dropdown(description='key', options=(1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 162…

In [17]:
ys = daily_train[daily_train.category == "Finance"].copy()
ys_id = list(ys.id.unique())
interact(plot_ts, df=fixed(ys), key=widgets.Dropdown(options=ys_id))

interactive(children=(Dropdown(description='key', options=(2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 204…

In [18]:
ys = daily_train[daily_train.category == "Other"].copy()
ys_id = list(ys.id.unique())
interact(plot_ts, df=fixed(ys), key=widgets.Dropdown(options=ys_id))

interactive(children=(Dropdown(description='key', options=(3595, 3596, 3597, 3598, 3599, 3600, 3601, 3602, 360…